@import "index";
html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    &::-webkit-scrollbar {
        width: 8px;
        /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
        background: $white;
        /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #F49037 0%, #F07748 100%);
        border-radius: 32px;
    }
}